/*! normalize.css v3.0.3 | MIT License | github.com/necolas/normalize.css */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS and IE text size adjust after device orientation change,
 *    without disabling user zoom.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/**
 * Remove default margin.
 */
body {
  margin: 0; }

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block; }

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/10/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none; }

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background-color: transparent; }

/**
 * Improve readability of focused elements when they are also in an
 * active/hover state.
 */
a:active,
a:hover {
  outline: 0; }

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted; }

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold; }

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic; }

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000; }

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
img {
  border: 0; }

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden; }

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1em 40px; }

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  box-sizing: content-box;
  height: 0; }

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto; }

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */ }

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible; }

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none; }

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */ }

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default; }

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal; }

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome.
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  box-sizing: content-box;
  /* 2 */ }

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto; }

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold; }

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

/*************************************************************

RESPONSIVE SCREEN SIZES

*************************************************************/
/*************************************************************

FONTS AND SIZES

*************************************************************/
/*************************************************************

COLOR PALETTE

*************************************************************/
/*************************************************************

WRAPPER PADDING

*************************************************************/
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin-top: 0; }

html {
  font-size: 52.5%;
  height: 100%; }
  @media only screen and (min-width: 768px) {
    html {
      font-size: 52.5%; } }
  @media only screen and (min-width: 992px) {
    html {
      font-size: 62.5%; } }

body {
  background: #F7F6F5;
  background: #fff;
  color: #1A332D;
  font-size: 1.8rem;
  line-height: 1.2;
  font-family: "Karla", sans-serif;
  margin: 0;
  padding: 0; }

img {
  border: none;
  max-width: 100%; }

ul ul,
ol ul,
ol ul,
ol ol {
  margin-top: 0.4em;
  margin-bottom: 0.4em; }

li {
  margin-bottom: 0.4em;
  line-height: 1; }

p,
ul,
ol {
  margin-bottom: 1.6em; }

a, a:visited {
  color: #6DA317;
  text-decoration: none; }

a:hover, a:visited:hover {
  color: #40771D;
  text-decoration: underline; }

h1,
.h1 {
  margin: 0 0 0.2em;
  font-family: "Lora", serif;
  color: #1A332D; }

h2,
.h2 {
  margin: 0 0 0.2em;
  font-family: "Lora", serif;
  color: #6DA317;
  font-size: 3rem; }
  @media only screen and (min-width: 992px) {
    h2,
    .h2 {
      font-size: 2.5rem; } }

h3,
.h3 {
  margin: 0 0 0.2em;
  font-family: "Lora", serif;
  font-size: 2.6rem; }

h4,
.h4 {
  margin: 0 0 0.2em;
  font-family: "Lora", serif; }

.text-xs {
  font-size: 1.4rem; }

.text-sm {
  font-size: 1.6rem; }

.text-lg {
  font-size: 2rem; }

.text-xl {
  font-size: 2.2rem; }

.text-dark {
  color: #111; }

.text-light {
  color: #aaa; }

.text-ex-light {
  color: #ccc; }

.line-height-compact {
  line-height: 1; }

.line-height-wide {
  line-height: 1.5; }

.line-height-wider {
  line-height: 1.8; }

.fontStack2 {
  font-family: "Lora", serif; }

.clearfix, .topBars:after, header:after, footer:after, .menuRow:after, .menuColWrapper:after, a.menuDownloadItem:after,
a.menuDownloadItem:visited:after, .aboutLeft:after, .aboutRight:after, .aboutBox5:after, .aboutBox5.aboutBoxShort:after, .locationsWrapper:after, .wrapper:after, .row:after {
  content: "";
  display: table;
  clear: both; }

.accentPrimary {
  color: #6DA317; }

.accentWhite {
  color: #fff; }

/*************************************************************

BUTTONS

*************************************************************/
a.btn, .contactForm input[type="submit"],
a:visited.btn,
.contactForm input[type="submit"]:visited,
.btn {
  display: inline-block;
  background: transparent;
  border: 2px solid #B7B6B2;
  padding: 11px 31px;
  color: #555;
  margin: 0 0 0.3em;
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  line-height: 1;
  font-size: 0.9em; }
  @media only screen and (min-width: 992px) {
    a.btn, .contactForm input[type="submit"],
    a:visited.btn,
    .contactForm input[type="submit"]:visited,
    .btn {
      padding: 11px 39px; } }
  a.btn:hover, .contactForm input[type="submit"]:hover,
  a:visited.btn:hover,
  .contactForm input[type="submit"]:visited:hover,
  .btn:hover {
    background: #B7B6B2;
    text-decoration: none; }

a.btnFull,
a:visited.btnFull,
.btnFull {
  display: block; }

a.btnPrimary, .contactForm input[type="submit"],
a:visited.btnPrimary,
.contactForm input[type="submit"]:visited,
.btnPrimary {
  color: #6DA317;
  border-color: #6DA317; }
  a.btnPrimary:hover, .contactForm input[type="submit"]:hover,
  a:visited.btnPrimary:hover,
  .contactForm input[type="submit"]:visited:hover,
  .btnPrimary:hover {
    background: #6DA317;
    color: #fff; }

a.btnSecondary,
a:visited.btnSecondary,
.btnSecondary {
  background: #1A332D;
  color: #fff; }
  a.btnSecondary:hover,
  a:visited.btnSecondary:hover,
  .btnSecondary:hover {
    background: #10231E; }

/*************************************************************

FORMS

*************************************************************/
.contactForm {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  padding: 25px 0;
  font-family: "Karla", sans-serif; }
  .contactForm label {
    display: block;
    margin: 0 0 0.4em; }
  .contactForm input[type="text"], .contactForm textarea {
    width: 100%;
    padding: 9px;
    border: 1px solid #DDDCDB;
    -webkit-appearance: none;
    border-radius: 0;
    line-height: 1;
    margin: 0 0 1em; }
  .contactForm select {
    width: 100%;
    margin: 0 0 1em; }
  .contactForm textarea {
    height: 150px; }

.dropWrapper {
  border: 1px solid #DDDCDB;
  margin: 0 0 1em;
  position: relative;
  background: #fff; }
  .dropWrapper:after {
    content: "\f107";
    font-family: FontAwesome;
    position: absolute;
    right: 9px;
    top: 50%;
    pointer-events: none;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    font-size: 25px;
    color: #6DA317; }
  .dropWrapper select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 100%;
    height: 38px;
    border: none;
    margin: 0;
    border-radius: 0;
    padding: 0 0 0 9px; }

/* ==========================================================================
   INTRO
   ========================================================================== */
.intro {
  padding: 25px 0;
  clear: both;
display: none; }
  @media only screen and (min-width: 768px) {
    .intro {
      padding: 35px 0;
	  display: block; } }
  @media only screen and (min-width: 992px) {
    .intro {
      padding: 50px 0; } }
  @media only screen and (min-width: 1200px) {
    .intro {
      padding: 70px 0; } }
  .intro.iIntro {
    display: none; }
    @media only screen and (min-width: 768px) {
      .intro.iIntro {
        display: block; } }
  .intro.menuIntro {
    display: none;
    //padding-top: 0;
	background: #F5F3EE; }
    @media only screen and (min-width: 768px) {
      .intro.menuIntro {
        display: block; } }

.introContent {
  text-align: center;
  max-width: 700px;
  margin: 0 auto;
  padding: 0 25px;
  font-family: "Lora", serif;
  font-size: 2.6rem;
  line-height: 1.5; }
  @media only screen and (min-width: 992px) {
    .introContent {
      max-width: 700px;
      padding: 0;
      margin: 0 auto; } }
  .introContent h1 {
    font-family: "Karla", sans-serif;
    color: #6DA317;
    text-transform: uppercase;
    margin: 0 0 1em;
    font-size: 1.8rem;

    font-family: "Lora", serif;
	font-size: 2.6rem;
	margin: 0 0 0.2em;
}
@media only screen and (min-width: 1200px) {
	.introContent h1 {
		font-size: 3rem;
	}
}
  .introContent p:last-child {
    margin-bottom: 0; }

.intro.menuIntro .introContent {
	font-size: 1.8rem;
}

.menuSaladBar {
	background: url(../images/menuSaladBar.jpg) 50% 50% no-repeat;
	background-size: cover;
}

.menuSaladBar::after {
	content: "";
	display: block;
	padding: 0 0 18%;
}

.newsletterPopup {
  display: block;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1001;
  display: none; }
  .newsletterPopup.on {
    display: block; }
  .newsletterPopup::before {
    content: "";
    display: block;
    position: absolute;
    top: -9999px;
    left: -9999px;
    right: -9999px;
    bottom: -9999px;
    background: rgba(0, 0, 0, 0.85);
    z-index: -1; }

.newsletterPopupInner {
  background: #fff;
  padding: 25px;
  text-align: center; }
  .newsletterPopupInner h2 {
    margin: 0 0 2rem; }
  .newsletterPopupInner .icon {
    height: 80px;
    width: auto;
    display: block;
    margin: 0 auto 2rem; }

.newsletterPopupClose {
  position: absolute;
  top: 0;
  right: 0;
  background: #6DA317;
  color: #fff;
  width: 25px;
  height: 25px;
  line-height: 25px;
  text-align: center;
  cursor: pointer; }
  .newsletterPopupClose:hover {
    background: #40771D; }
  .newsletterPopupClose::after {
    content: "\f00d";
    font-family: FontAwesome;
    display: inline-block; }

/*************************************************************

STANDARD STYLEGUIDE STYLES

*************************************************************/
.styleWrapper {
  font-family: "Karla", sans-serif;
  background: #fff; }

a.guideLink,
a:visited.guideLink {
  color: #999;
  text-decoration: none; }

a:hover.guideLink,
a:visited:hover.guideLink {
  color: #333; }

.styleWrapper {
  width: 100%;
  max-width: 1200px;
  margin: 0;
  padding: 35px 25px 0 25px;
  position: relative; }
  @media only screen and (min-width: 992px) {
    .styleWrapper {
      padding-left: 250px; } }
  .styleWrapper section {
    margin: 0 0 100px; }
  .styleWrapper section.guideLastSection {
    margin-bottom: 0; }

.styleMenu {
  position: fixed;
  top: 29px;
  left: 0;
  width: 200px;
  text-align: right;
  bottom: 0;
  font-size: 1.4rem;
  font-family: 'Raleway', sans-serif;
  display: none; }
  @media only screen and (min-width: 992px) {
    .styleMenu {
      display: block; } }
  .styleMenu a {
    display: block;
    margin: 0 0 11px;
    text-align: right;
    padding: 5px 15px;
    border-right: 4px solid transparent; }
    .styleMenu a:hover {
      background: #f8f8f8;
      text-decoration: none; }
  .styleMenu a.guideLinkOn {
    background: #efefef;
    color: #222;
    border-color: #aaa; }
  .styleMenu a.bkLink {
    display: inline-block;
    margin: 0;
    padding: 0;
    border: none; }
    .styleMenu a.bkLink:hover {
      background: transparent; }
  .styleMenu .bkBadge {
    height: 35px;
    width: auto;
    margin: 0 0 0 0;
    opacity: .8;
    position: absolute;
    right: 15px;
    bottom: 15px; }
    .styleMenu .bkBadge:hover {
      opacity: 1; }

.guideStyleToggle {
  text-align: right;
  margin: 0 15px 11px 0;
  cursor: pointer;
  color: #999; }
  .guideStyleToggle span {
    display: inline-block;
    padding: 3px 9px;
    border-radius: 3px;
    border: 1px solid #ddd; }
    .guideStyleToggle span:hover {
      background: #fafafa; }
  .guideStyleToggle span.toggleOn {
    background: #00A4E4;
    color: #fff;
    border-color: #00A4E4; }
  .guideStyleToggle span.toggleOn:before {
    content: "\f00c";
    font-family: FontAwesome;
    margin: 0 5px 0 0; }

.guideTag {
  position: relative;
  background: #00A4E4;
  font-size: 1.4rem;
  line-height: 1.4rem;
  padding: 1px 4px;
  display: inline-block;
  color: #fff;
  margin: 0 9px;
  display: none;
  border: 1px solid #fff;
  font-weight: 400;
  font-family: 'Raleway', sans-serif; }

.mainHeader {
  font-size: 8rem;
  line-height: 8.4rem;
  margin: 0 0 25px;
  font-family: 'Raleway', sans-serif;
  color: #000;
  font-size: 3rem;
  line-height: 3.4rem; }
  @media only screen and (min-width: 992px) {
    .mainHeader {
      font-size: 8rem;
      line-height: 8.4rem;
      margin-bottom: 45px; } }
  .mainHeader span {
    color: #aaa;
    display: block;
    margin: 0;
    font-size: 1.6rem;
    line-height: 1.8rem; }

.styleHeader {
  border-bottom: 1px solid #333;
  padding: 9px 0;
  margin: 0 0 35px;
  text-align: center;
  font-weight: 700;
  color: #333;
  position: relative;
  text-transform: uppercase;
  font-size: 1.6rem;
  clear: both;
  font-family: 'Raleway', sans-serif; }
  .styleHeader:after {
    content: "";
    position: absolute;
    bottom: -8px;
    left: 50%;
    margin: 0 0 0 -8px;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 8px solid #333; }
  .styleHeader .guideLink {
    position: absolute;
    right: 0;
    top: 50%;
    width: 25px;
    height: 25px;
    line-height: 25px;
    text-align: center;
    margin: -12px 0 0;
    font-size: 1.6rem; }

.colorBoxWrapper {
  width: 31.3333%;
  margin: 0 1% 25px;
  float: left;
  font-size: 1.2rem;
  line-height: 1.6rem; }
  @media only screen and (min-width: 768px) {
    .colorBoxWrapper {
      width: 23%; } }
  @media only screen and (min-width: 992px) {
    .colorBoxWrapper {
      width: 18%; } }

.colorBox {
  width: 100%;
  height: 90px;
  border-radius: 3px;
  background: #ccc;
  display: block;
  margin: 0 0 5px;
  position: relative;
  overflow: hidden;
  font-family: 'Raleway', sans-serif; }
  @media only screen and (min-width: 992px) {
    .colorBox {
      height: 110px; } }

.colorBox-Light {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 50%;
  height: 31px;
  background: #ddd; }

.colorBox-Dark {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 50%;
  height: 31px;
  background: #bbb; }

.colorTitle {
  font-weight: 700;
  font-family: 'Raleway', sans-serif; }

.colorHex {
  color: #aaa;
  font-family: 'Raleway', sans-serif; }

.colorBoxGray {
  height: 50px; }

.clearer {
  clear: both; }

/*************************************************************

UNIQUE STYLEGUIDE STYLES

*************************************************************/
.colorBox-Primary {
  background: #6DA317; }
  .colorBox-Primary .colorBox-Light {
    background: #83B524; }
  .colorBox-Primary .colorBox-Dark {
    background: #40771D; }

.colorBox-Secondary {
  background: #1A332D; }
  .colorBox-Secondary .colorBox-Light {
    background: #294C43; }
  .colorBox-Secondary .colorBox-Dark {
    background: #10231E; }

.colorBox-Gray-Ex-Dark {
  background: #72716E; }

.colorBox-Gray-Dark {
  background: #B7B6B2; }

.colorBox-Gray-Medium {
  background: #DDDCDB; }

.colorBox-Gray-Light {
  background: #F5F3EE; }

.colorBox-Gray-Ex-Light {
  background: #F7F6F5; }

/* ==========================================================================
   TOP BARS
   ========================================================================== */
.topBars {
  background: #1A332D; }
  .topBars .topBar {
    height: 11px; }
    @media only screen and (min-width: 768px) {
      .topBars .topBar {
        height: 13px;
        width: 33.333333%;
        float: left; } }
  .topBars .topBar:nth-child(1) {
    background: #40771D; }
  .topBars .topBar:nth-child(2) {
    background: #6DA317; }

/* ==========================================================================
   HEADER
   ========================================================================== */
header {
  text-align: center;
  margin: 0;
  transition: height 0.2s ease-out, padding 0.2s ease-out; }
  @media only screen and (min-width: 768px) {
    header {
      padding: 30px 0;
      margin: 0 0 2em; } }
  @media only screen and (min-width: 768px) {
    header .wrapper {
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-justify-content: center;
      -ms-flex-pack: center;
      justify-content: center; } }
  @media only screen and (min-width: 768px) {
    header.headerScrolled {
      position: fixed;
      width: 100%;
      left: 50%;
      top: 0;
      max-width: 1600px;
      -webkit-transform: translate(-50%, 0);
      -ms-transform: translate(-50%, 0);
      transform: translate(-50%, 0);
      z-index: 100;
      background: #fff;
      border-bottom: 2px solid #6da317;
      padding: 11px 0; } }

/* ==========================================================================
   LOGO
   ========================================================================== */
.logo {
  padding: 15px 0; }
  @media only screen and (min-width: 768px) {
    .logo {
      -webkit-order: 2;
      -ms-flex-order: 2;
      order: 2;
      width: 27.33333%;
      padding: 0;
      margin: 0 3%; } }
  .logo img {
    display: block;
    margin: 0 auto;
    width: 40%;
    height: auto;
    transition: width 0.2s ease-out; }
    @media only screen and (min-width: 768px) {
      .logo img {
        width: 100%;
        max-width: 220px;
        height: auto; } }
    @media only screen and (min-width: 768px) {
      .headerScrolled .logo img {
        width: 50%; } }

/* ==========================================================================
   TOP TAG
   ========================================================================== */
h2.topTag {
  font-family: "Karla", sans-serif;
  text-transform: uppercase;
  font-size: 3.2vw;
  margin: 0 0 2em; }
  @media only screen and (min-width: 768px) {
    h2.topTag {
      margin: 0;
      -webkit-order: 1;
      -ms-flex-order: 1;
      order: 1;
      font-size: 1.8rem;
      width: 33.33333%;
      text-align: left; } }
  @media only screen and (min-width: 992px) {
    h2.topTag {
      text-align: right;
      font-size: 1.6rem;
      letter-spacing: 0.7px; } }

/* ==========================================================================
   TOP ORDER BUTTON
   ========================================================================== */
.topOrder {
  margin: 0 auto 15px;
  width: 80%;
  padding: 0;
  display: block; }
  @media only screen and (min-width: 768px) {
    .topOrder {
      margin: 0;
      width: 33.333333%;
      -webkit-order: 3;
      -ms-flex-order: 3;
      order: 3;
      text-align: right;
      float: none;
      padding: 0; } }
  @media only screen and (min-width: 992px) {
    .topOrder {
      text-align: left; } }

a.topBtnOrder,
a:visited.topBtnOrder {
  height: 45px;
  line-height: 45px;
  padding-top: 0;
  padding-bottom: 0;
  width: 100%;
  margin: 0; }
  @media only screen and (min-width: 768px) {
    a.topBtnOrder,
    a:visited.topBtnOrder {
      height: auto;
      line-height: 1.2;
      padding: 11px 31px;
      width: auto; } }

/* ==========================================================================
   MENU TOGGLE
   ========================================================================== */
.menuToggle {
  display: block;
  height: 45px;
  line-height: 45px;
  font-size: 25px;
  width: 45px;
  text-align: center;
  color: #6DA317;
  background: transparent;
  cursor: pointer;
  position: absolute;
  left: 15px;
  top: 23px; }
  @media only screen and (min-width: 768px) {
    .menuToggle {
      display: none; } }
  .menuToggle:hover, .menuToggle.on {
    background: #6DA317;
    color: #fff; }
  .menuToggle::after {
    content: "\f0c9";
    font-family: FontAwesome;
    display: block;
    vertical-align: middle; }

footer {
  text-transform: uppercase;
  background: #1A332D;
  color: #fff;
  text-align: center;
  padding: 35px 0;
  clear: both; }
  @media only screen and (min-width: 768px) {
    footer {
      padding: 50px 0; } }
  @media only screen and (min-width: 992px) {
    footer {
      font-size: 1.6rem; } }
  footer .wrapper {
    max-width: 900px;
    margin: 0 auto; }

.footerLogo {
  margin: 0 auto;
  display: block;
  max-width: 40%;
  height: auto; }
  @media only screen and (min-width: 768px) {
    .footerLogo {
      max-width: 100%;
      margin: -13px 0 0; } }

/* ==========================================================================
   FOOTER COLS
   ========================================================================== */
.footerCol {
  margin: 0 0 4em; }
  @media only screen and (min-width: 768px) {
    .footerCol {
      width: 33.33333%;
      float: left;
      text-align: left;
      padding: 0 15px 0 0;
      margin: 0; } }
  .footerCol h4 {
    font-size: 2.6rem;
    text-transform: none;
    margin: 0 0 1em; }
    @media only screen and (min-width: 992px) {
      .footerCol h4 {
        font-size: 2.2rem; } }

.footerColLocations {
  display: none; }
  @media only screen and (min-width: 768px) {
    .footerColLocations {
      display: block; } }

/* ==========================================================================
   FOOTER SOCIAL
   ========================================================================== */
.socialLinks {
  padding: 15px 0 0; }

a.socialLink,
a:visited.socialLink {
  display: block;
  margin: 0 0 1em; }
  a.socialLink:hover,
  a:visited.socialLink:hover {
    text-decoration: none; }

.socialLinkIcon {
  background-size: contain;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  width: 65px;
  display: inline-block;
  vertical-align: middle; }
  @media only screen and (min-width: 768px) {
    .socialLinkIcon {
      width: 45px; } }
  .socialLinkIcon:after {
    content: "";
    display: block;
    padding: 0 0 50%; }

.socialLinkText {
  display: inline-block;
  vertical-align: middle;
  width: 100px; }

.mainNav {
  text-transform: uppercase;
  text-align: center;
  max-height: 0;
  transition: max-height 0.3s ease-out;
  overflow: hidden; }
  @media only screen and (min-width: 768px) {
    .mainNav {
      padding: 25px 0 0;
      display: block;
      max-height: 300px;
      margin: 0; } }
  .mainNav.on {
    max-height: 300px; }
  .mainNav ul {
    list-style: none;
    padding: 0;
    margin: 0; }
  .mainNav li {
    margin: 0; }
    @media only screen and (min-width: 768px) {
      .mainNav li {
        display: inline-block;
        float: none; } }
    .mainNav li:last-child {
      padding-bottom: 15px; }
      @media only screen and (min-width: 768px) {
        .mainNav li:last-child {
          padding-bottom: 0; } }
    .mainNav li.navMobile, .mainNav li.navGiftCardsMobile, .mainNav li.navNewsletterMobile {
      display: block; }
      @media only screen and (min-width: 768px) {
        .mainNav li.navMobile, .mainNav li.navGiftCardsMobile, .mainNav li.navNewsletterMobile {
          display: none; } }
    .mainNav li.navDesktop {
      display: none; }
      @media only screen and (min-width: 768px) {
        .mainNav li.navDesktop {
          display: inline-block; } }
  .mainNav a, .mainNav a:visited {
    color: #1A332D;
    font-weight: 700;
    display: block;
    padding: 5px 0;
    position: relative; }
    @media only screen and (min-width: 768px) {
      .mainNav a, .mainNav a:visited {
        padding: 0 0 7px;
        margin: 0 10px; } }
    .mainNav a:hover, .mainNav a:visited:hover {
      color: #6DA317;
      text-decoration: none; }
  .mainNav .on a, .mainNav .on a:visited {
    color: #6DA317; }
    @media only screen and (min-width: 768px) {
      .mainNav .on a:after, .mainNav .on a:visited:after {
        content: "";
        display: block;
        position: absolute;
        left: 0;
        right: 0;
        bottom: -3px;
        height: 3px;
        background: #6DA317; } }
    .mainNav .on a:hover, .mainNav .on a:visited:hover {
      background: transparent; }

/* ==========================================================================
   INDEX BOXES
   ========================================================================== */
a.iBox a:visited.iBox,
.iBox {
  position: relative;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  text-align: center;
  display: block;
  font-family: "Lora", serif;
  font-size: 2.6rem; }
  @media only screen and (min-width: 768px) {
    a.iBox a:visited.iBox,
    .iBox {
      width: 50%;
      float: left; } }
  @media only screen and (min-width: 992px) {
    a.iBox a:visited.iBox,
    .iBox {
      font-size: 2.9rem; } }
  a.iBox a:visited.iBox:after,
  .iBox:after {
    content: "";
    padding: 0 0 100%;
    display: block; }
  a.iBox a:visited.iBox.iBoxShort:after,
  .iBox.iBoxShort:after {
    content: "";
    display: block;
    padding: 0 0 50%; }

a.iBox3,
a:visited.iBox3 {
  background: #294C43;
  color: #fff;
  border-bottom: 1px solid #fff; }
  @media only screen and (min-width: 768px) {
    a.iBox3,
    a:visited.iBox3 {
      border-bottom: none;
      background: #1A332D; } }
  a.iBox3:hover,
  a:visited.iBox3:hover {
    background: #10231E; }

a.iBox4,
a:visited.iBox4 {
  background: #F5F3EE;
  color: #1A332D; }
  @media only screen and (min-width: 768px) {
    a.iBox4,
    a:visited.iBox4 {
      display: block; } }
  a.iBox4:hover,
  a:visited.iBox4:hover {
    background: #DDDCDB; }

a.iBox5,
a:visited.iBox5 {
  background: #F5F3EE;
  color: #1A332D;
  border-top: 1px solid #B7B6B2;
  display: none; }
  @media only screen and (min-width: 768px) {
    a.iBox5,
    a:visited.iBox5 {
      display: block; } }
  @media only screen and (min-width: 992px) {
    a.iBox5,
    a:visited.iBox5 {
      display: block;
      border: none; } }
  a.iBox5:hover,
  a:visited.iBox5:hover {
    background: #DDDCDB; }

a.iBox6,
a:visited.iBox6 {
  background: #294C43;
  color: #fff;
  display: none; }
  @media only screen and (min-width: 768px) {
    a.iBox6,
    a:visited.iBox6 {
      border-bottom: none;
      background: #1A332D;
      display: block; } }
  a.iBox6:hover,
  a:visited.iBox6:hover {
    background: #10231E; }
  a.iBox6 .iBoxIcon,
  a:visited.iBox6 .iBoxIcon {
    height: 60px; }
    @media only screen and (min-width: 992px) {
      a.iBox6 .iBoxIcon,
      a:visited.iBox6 .iBoxIcon {
        height: 80px; } }

.iBox1 {
  text-align: left;
  font-size: 1.8rem;
  background: #F5F3EE;
  height: auto;
  padding: 25px 0; }
  @media only screen and (min-width: 768px) {
    .iBox1 {
      display: block;
      padding: 0; } }
  .iBox1:after {
    content: "";
    padding: 0 0 100%;
    display: block;
    display: none; }
    @media only screen and (min-width: 768px) {
      .iBox1:after {
        display: block; } }
  .iBox1 .iBoxContent {
    position: relative;
    -webkit-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    transform: translate(-50%, 0); }
    @media only screen and (min-width: 768px) {
      .iBox1 .iBoxContent {
        text-align: center;
        position: absolute;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%); } }
  .iBox1 a.btn, .iBox1 .contactForm input[type="submit"], .contactForm .iBox1 input[type="submit"] {
    font-family: "Karla", sans-serif; }
  .iBox1 p:last-child {
    margin-bottom: 0; }

.iBoxContent {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  padding: 0 15px;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center; }
  @media only screen and (min-width: 768px) {
    .iBoxContent {
      padding: 0 25px; } }
  @media only screen and (min-width: 992px) {
    .iBoxContent {
      padding: 0 35px; } }
  @media only screen and (min-width: 1200px) {
    .iBoxContent {
      padding: 0 50px; } }
  @media only screen and (min-width: 1400px) {
    .iBoxContent {
      padding: 0 125px; } }
  .iBoxContent h3 {
    color: #6DA317; }
    @media only screen and (min-width: 1200px) {
      .iBoxContent h3 {
        font-size: 3rem; } }
  @media only screen and (min-width: 1200px) {
    .iBoxContent p {
      font-size: 2rem; } }

.iBoxIcon {
  display: block;
  margin: 0 auto 0.8em;
  height: 90px;
  width: auto; }
  @media only screen and (min-width: 992px) {
    .iBoxIcon {
      height: 130px; } }

.iBoxGoGreen {
  color: #fff;
  text-transform: uppercase;
  font-family: "Karla", sans-serif;
  font-size: 16vw;
  font-weight: 700;
  display: none; }
  @media only screen and (min-width: 768px) {
    .iBoxGoGreen {
      width: 100%;
      float: none;
      clear: both;
      font-size: 11rem;
      display: block; }
      .iBoxGoGreen.iBoxShort:after {
        content: "";
        display: block;
        padding: 0 0 25%; } }
  @media only screen and (min-width: 992px) {
    .iBoxGoGreen {
      font-size: 12rem; } }

/* ==========================================================================
   INDEX ROWS
   ========================================================================== */
.iRow {
  padding: 35px 0;
  text-align: center;
  clear: both; }
  @media only screen and (min-width: 768px) {
    .iRow {
      padding: 50px 0; } }
  @media only screen and (min-width: 992px) {
    .iRow {
      padding: 65px 0; } }
  .iRow h3 {
    color: #6DA317;
    font-size: 2.6rem;
    margin: 0 0 0.8em; }
  .iRow p:last-child {
    margin: 0; }

.iRow1 {
  display: none; }
  @media only screen and (min-width: 768px) {
    .iRow1 {
      display: block;
      font-size: 0; } }
  .iRow1 .iLeft {
    background: url("../images/multipleSalads.jpg") 100% 50% repeat-x;
    background-size: auto 100%;
    height: 280px; }

@media only screen and (min-width: 768px) {
  .iLeft {
    width: 50%;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    font-size: 1.8rem; } }

.iLeft img {
  display: block;
  margin: 0 auto 2em;
  max-width: 70%; }
  @media only screen and (min-width: 768px) {
    .iLeft img {
      max-width: 85%;
      margin: 0 auto; } }

@media only screen and (min-width: 768px) {
  .iRight {
    width: 50%;
    display: inline-block;
    vertical-align: middle;
    text-align: left;
    font-size: 1.8rem;
    padding: 0 25px; } }

@media only screen and (min-width: 1200px) {
  .iRight {
    padding-right: 10%; } }

@media only screen and (min-width: 1400px) {
  .iRight {
    padding-right: 20%; } }

@media only screen and (min-width: 1600px) {
  .iRight {
    font-size: 2rem; }
    .iRight h3 {
      font-size: 1.4em; } }

.menuBox1 {
  display: none; }
  @media only screen and (min-width: 768px) {
    .menuBox1 {
      display: block; } }

/* ==========================================================================
   MENU ROW
   ========================================================================== */
.menuRow {
  padding: 25px 15px;
  text-align: center;
  font-size: 2rem;
  position: relative; }
  @media only screen and (min-width: 992px) {
    .menuRow {
      font-size: 1.8rem;
      padding: 50px; } }
  @media only screen and (min-width: 1200px) {
    .menuRow {
      padding: 65px 100px; } }
  @media only screen and (min-width: 992px) {
    .menuRow h2 {
      font-weight: 400; } }
  @media only screen and (min-width: 992px) {
    .menuRow h2 + p {
      margin-bottom: 3em; } }

.menuRow1 {
  background: #1A332D;
  color: #fff; }
  @media only screen and (min-width: 1200px) {
    .menuRow1 {
      padding-left: 150px;
      padding-right: 150px; } }

.menuRow2 {
  //background: #F5F3EE; }

@media only screen and (min-width: 1200px) {
  .menuRow3 {
    padding-left: 150px;
    padding-right: 150px; } }

.menuRow4 {
  background: #F5F3EE; }

.menuRow5 {
  padding: 0; }

p.menuCallout,
span.menuCallout,
.menuSmallPrice {
  color: #6DA317;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.8em;
  margin: 0;
  line-height: 1.5; }

/* ==========================================================================
   MENU 25
   ========================================================================== */
.menu25 {
  margin: 0 0 2em; }
  @media only screen and (min-width: 768px) {
    .menu25 {
      width: 23.7288135593%;
      float: left;
      text-align: left; }
      .menu25:nth-child(4n + 1) {
        margin-left: 0;
        margin-right: -100%;
        clear: both;
        margin-left: 0; }
      .menu25:nth-child(4n + 2) {
        margin-left: 25.4237288136%;
        margin-right: -100%;
        clear: none; }
      .menu25:nth-child(4n + 3) {
        margin-left: 50.8474576271%;
        margin-right: -100%;
        clear: none; }
      .menu25:nth-child(4n + 4) {
        margin-left: 76.2711864407%;
        margin-right: -100%;
        clear: none; } }
  .menu25 h3 {
    color: #6DA317;
    font-size: 3rem;
    margin: 0 0 0.8em; }
    @media only screen and (min-width: 992px) {
      .menu25 h3 {
        font-weight: 400; } }
  .menu25 ul {
    margin: 0 0 2em;
    padding: 0;
    list-style: none; }

/* ==========================================================================
   MENU ACCORDION
   ========================================================================== */
h3.menuAccordionHeader {
  border-bottom: 1px solid #6DA317;
  padding: 0 0 0.4em;
  position: relative; }
  @media only screen and (min-width: 768px) {
    h3.menuAccordionHeader {
      border: none; } }
  h3.menuAccordionHeader::after {
    content: "\f107";
    font-family: FontAwesome;
    position: absolute;
    top: 50%;
    right: 15px;
    font-weight: normal;
    -webkit-transform: translate(0, -70%);
    -ms-transform: translate(0, -70%);
    transform: translate(0, -70%); }
    @media only screen and (min-width: 768px) {
      h3.menuAccordionHeader::after {
        display: none; } }
  h3.menuAccordionHeader.on::after {
    content: "\f106"; }

.menuAccordionContent {
  display: none; }
  @media only screen and (min-width: 768px) {
    .menuAccordionContent {
      display: block; } }

/* ==========================================================================
   MENU 50
   ========================================================================== */
.menu50 {
  margin: 0 0 2em; }
  @media only screen and (min-width: 768px) {
    .menu50 {
      width: 49.1525423729%;
      float: left;
      text-align: left;
      padding: 0 31px 0 0; }
      .menu50:nth-child(2n + 1) {
        margin-left: 0;
        margin-right: -100%;
        clear: both;
        margin-left: 0; }
      .menu50:nth-child(2n + 2) {
        margin-left: 50.8474576271%;
        margin-right: -100%;
        clear: none; } }
  .menu50 > h2 {
    margin: 0 0 1em; }
    @media only screen and (min-width: 768px) {
      .menu50 > h2 {
        margin: 0 0 2em; } }
    @media only screen and (min-width: 992px) {
      .menu50 > h2 {
        margin: 0 0 1.4em; } }
  .menu50 .menuItem {
    margin: 0 0 2em; }
    @media only screen and (min-width: 768px) {
      .menu50 .menuItem {
        margin: 0 0 1em; } }

/* ==========================================================================
   MENU ICONS
   ========================================================================== */
.menuIcon {
  display: inline-block;
  vertical-align: middle;
  height: 25px;
  width: auto;
  margin: 0 9px 5px 0; }

/* ==========================================================================
   MENU ITEMS
   ========================================================================== */
.menuItem {
  margin: 0 0 1em; }
  .menuItem h2 {
    margin: 0; }
    @media only screen and (min-width: 992px) {
      .menuItem h2 {
        font-weight: 400; } }
    .menuItem h2 .keyCode {
      vertical-align: super;
      font-size: 0.5em;
      font-family: "Karla", sans-serif;
      margin-left: 2px; }
    .menuItem h2 + p, .menuItem h3 + p {
      margin: 0; }
  .menuItem h3 {
    color: #6DA317;
    font-family: "Karla", sans-serif;
    font-size: 2rem;
    margin: 0; }
    @media only screen and (min-width: 992px) {
      .menuItem h3 {
        font-size: 1.8rem;
        font-weight: 400; } }

/* ==========================================================================
   MENU KEY
   ========================================================================== */
.menuKey {
  clear: both;
  border: 3px solid #6DA317;
  display: inline-block;
  padding: 13px 25px; }
  @media only screen and (min-width: 992px) {
    .menuKey {
      position: absolute;
      right: 50px;
      bottom: 50px; } }
  .menuKey .keyCode {
    margin: 0 4px 0 0; }

.keyCode {
  color: #6DA317;
  text-transform: uppercase;
  font-size: 0.8em;
  font-weight: 700;
  display: inline-block; }
  .keyCode.gluten:before {
    content: "G"; }
  .keyCode.vegan:before {
    content: "V"; }
  .keyCode.seasonal:before {
    content: "S"; }

.keyValue {
  display: inline-block;
  margin: 0 15px 0 0; }

/* ==========================================================================
   MENU BOXES
   ========================================================================== */
.menuBox {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%; }
  @media only screen and (min-width: 768px) {
    .menuBox {
      width: 50%;
      float: left; } }
  .menuBox:after {
    content: "";
    display: block;
    padding: 0 0 100%; }

/* ==========================================================================
   MENU DOWNLOADS
   ========================================================================== */
.menuRow4 h2 {
  color: #1A332D; }
  @media only screen and (min-width: 992px) {
    .menuRow4 h2 {
      margin: 0 0 0.6em; } }

.menuRow4 .menu50 {
  width: 100%;
  float: none;
  text-align: center; }
  .menuRow4 .menu50:last-child {
    margin: 0; }
  @media only screen and (min-width: 992px) {
    .menuRow4 .menu50 {
      display: inline-block;
      vertical-align: middle;
      margin: 0;
      width: auto; } }

a.menuDownloadItem,
a:visited.menuDownloadItem {
  margin: 0 0 3em;
  display: block;
  color: #1A332D; }
  @media only screen and (min-width: 992px) {
    a.menuDownloadItem,
    a:visited.menuDownloadItem {
      display: inline-block;
      margin: 0 21px 0 0;
      padding: 7px 13px;
      border-radius: 5px; } }
  a.menuDownloadItem:last-child,
  a:visited.menuDownloadItem:last-child {
    margin: 0; }
  a.menuDownloadItem:hover,
  a:visited.menuDownloadItem:hover {
    text-decoration: none;
    background: #DDDCDB; }

a.downloadNutrition {
  display: none; }

.menuDownloadThumb {
  background-size: contain;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  margin: 0 0 0.4em; }
  @media only screen and (min-width: 992px) {
    .menuDownloadThumb {
      display: inline-block;
      vertical-align: middle;
      width: 80px;
      margin: 0 7px 0 0; } }
  .menuDownloadThumb:after {
    content: "";
    display: block;
    padding: 0 0 100px; }

.menuDownloadText {
  text-transform: uppercase;
  font-size: 2.2rem;
  font-weight: 700; }
  @media only screen and (min-width: 992px) {
    .menuDownloadText {
      display: inline-block;
      vertical-align: middle;
      font-size: 1.4rem;
      margin: 0 0 1em;
      text-align: left; } }
  .menuDownloadText br {
    display: none; }
    @media only screen and (min-width: 992px) {
      .menuDownloadText br {
        display: inline-block; } }

/* ==========================================================================
   ABOUT BOXES
   ========================================================================== */
@media only screen and (min-width: 768px) {
  .aboutLeft {
    width: 50%;
    float: left; } }

@media only screen and (min-width: 768px) {
  .aboutRight {
    width: 50%;
    float: left; } }

.aboutBox {
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  text-align: center; }
  @media only screen and (min-width: 768px) {
    .aboutBox {
      text-align: left; } }
  .aboutBox:after {
    content: "";
    display: block;
    padding: 0 0 100%; }
  .aboutBox.aboutBoxShort:after {
    content: "";
    display: block;
    padding: 0 0 50%; }
  .aboutBox p.leader {
    font-size: 2.2rem;
    font-family: "Lora", serif;
    line-height: 1.5; }
  .aboutBox p:last-child {
    margin: 0; }

.aboutBox1 {
  background: #6DA317;
  text-align: center; }
  .aboutBox1:before {
    content: "";
    background: #40771D;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 50%; }
  .aboutBox1 span {
    display: block;
    text-transform: uppercase;
    font-size: 25vw;
    font-weight: 700;
    line-height: 1; }
    @media only screen and (min-width: 768px) {
      .aboutBox1 span {
        font-size: 14vw; } }
    @media only screen and (min-width: 1200px) {
      .aboutBox1 span {
        font-size: 15rem; } }
    .aboutBox1 span:nth-child(1) {
      color: #40771D; }
    .aboutBox1 span:nth-child(2) {
      color: #fff; }
    .aboutBox1 span:nth-child(3) {
      color: #1A332D; }
  .aboutBox1.aboutBox1Team {
    background: #1A332D; }

.aboutBox3 {
  display: none; }
  @media only screen and (min-width: 768px) {
    .aboutBox3 {
      display: block; } }

.aboutBox4 {
  height: auto; }
  @media only screen and (min-width: 1600px) {
    .aboutBox4 {
      font-size: 1.3em; }
      .aboutBox4 p.leader {
        font-size: 1.3em; } }
  .aboutBox4::after {
    padding: 0; }
    @media only screen and (min-width: 768px) {
      .aboutBox4::after {
        padding: 0 0 100%; } }
  .aboutBox4 .aboutBoxContent {
    position: relative;
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
    left: auto;
    top: auto;
    padding-top: 25px;
    padding-bottom: 25px; }
    @media only screen and (min-width: 768px) {
      .aboutBox4 .aboutBoxContent {
        position: absolute;
        left: 50%;
        top: 50%;
        width: 100%;
        padding: 0 25px;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%); } }
    @media only screen and (min-width: 992px) {
      .aboutBox4 .aboutBoxContent {
        padding: 0 50px; } }
  .aboutBox4 p.leader {
    margin: 0; }
    @media only screen and (min-width: 768px) {
      .aboutBox4 p.leader {
        margin-bottom: 1.6em; } }
  .aboutBox4 p:last-child {
    display: none; }
    @media only screen and (min-width: 768px) {
      .aboutBox4 p:last-child {
        display: block; } }

.aboutBox5 {
  background: #1A332D;
  color: #fff;
  padding: 25px 0;
  clear: both; }
  @media only screen and (min-width: 992px) {
    .aboutBox5 {
      padding: 40px 0; } }
  @media only screen and (min-width: 1600px) {
    .aboutBox5 {
      font-size: 1.2em; } }
  .aboutBox5.aboutBoxShort:after {
    padding: 0; }
  .aboutBox5 .aboutBoxContent {
    position: relative;
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
    left: auto;
    top: auto; }
  @media only screen and (min-width: 768px) {
    .aboutBox5 p {
      display: inline-block;
      vertical-align: middle;
      width: 75%;
      margin: 0;
      padding: 0 0 0 25px; } }
  @media only screen and (min-width: 992px) {
    .aboutBox5 p {
      width: 50%; } }

.aboutEnvironmentLogo {
  display: inline-block;
  width: 30%;
  height: auto;
  vertical-align: middle;
  margin: 0 0 0.6em; }
  @media only screen and (min-width: 768px) {
    .aboutEnvironmentLogo {
      width: 20%;
      display: inline-block;
      vertical-align: middle; } }
  @media only screen and (min-width: 992px) {
    .aboutEnvironmentLogo {
      margin-left: 15%; } }
  @media only screen and (min-width: 1200px) {
    .aboutEnvironmentLogo {
      width: 15%; } }

.logoLocallyOwned {
  display: inline-block;
  width: 40%;
  height: auto; }

.aboutBox8 {
  height: auto; }
  @media only screen and (min-width: 1600px) {
    .aboutBox8 {
      font-size: 1.3em; } }
  .aboutBox8.aboutBoxShort::after {
    padding: 0; }
    @media only screen and (min-width: 768px) {
      .aboutBox8.aboutBoxShort::after {
        padding: 0 0 50%; } }
  .aboutBox8 .aboutBoxContent {
    position: relative;
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
    left: auto;
    top: auto;
    padding-top: 25px;
    padding-bottom: 25px; }
    @media only screen and (min-width: 768px) {
      .aboutBox8 .aboutBoxContent {
        position: absolute;
        left: 50%;
        top: 50%;
        width: 100%;
        padding: 0 25px;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%); } }
    @media only screen and (min-width: 992px) {
      .aboutBox8 .aboutBoxContent {
        padding: 0 50px; } }

.aboutBox9 {
  text-align: center; }

.aboutBox10 {
  background: #6DA317;
  color: #1A332D; }
  @media only screen and (min-width: 1600px) {
    .aboutBox10 {
      font-size: 1.2em; }
      .aboutBox10 p.leader {
        font-size: 1.2em; } }

.aboutBoxContent {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 100%;
  padding: 0 25px;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); }
  @media only screen and (min-width: 992px) {
    .aboutBoxContent {
      padding: 0 50px; } }

.aboutBoxWide + .aboutLeft {
  clear: left; }

.subContainerLocations {
  text-align: center;
  padding: 2em 0;
  font-size: 1.2em; }

.locationMapWrapper {
  position: relative;
  margin: 0 40px 2em; }
  @media only screen and (min-width: 992px) {
    .locationMapWrapper {
      margin: 0 auto 2em;
      max-width: 800px; } }
  @media only screen and (min-width: 1400px) {
    .locationMapWrapper {
      max-width: 1200px; } }
  .locationMapWrapper:after {
    content: "";
    display: block;
    padding: 0 0 80%; }
    @media only screen and (min-width: 768px) {
      .locationMapWrapper:after {
        padding-bottom: 60%; } }
  .locationMapWrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }

.locationsWrapper {
  padding: 0 35px;
  margin: 0 auto 2em;
  max-width: 800px; }
  @media only screen and (min-width: 1200px) {
    .locationsWrapper {
      max-width: 2000px; } }

.location {
  text-align: center;
  text-transform: uppercase;
  margin: 0 0 4em; }
  @media only screen and (min-width: 768px) {
    .location {
      width: 44.4444444444%;
      float: left; }
      .location:nth-child(2n + 1) {
        margin-left: 0;
        margin-right: -100%;
        clear: both;
        margin-left: 0; }
      .location:nth-child(2n + 2) {
        margin-left: 55.5555555556%;
        margin-right: -100%;
        clear: none; } }
  @media only screen and (min-width: 1200px) {
    .location {
      width: 23.0769230769%;
      float: left; }
      .location:nth-child(4n + 1) {
        margin-left: 0;
        margin-right: -100%;
        clear: both;
        margin-left: 0; }
      .location:nth-child(4n + 2) {
        margin-left: 25.641025641%;
        margin-right: -100%;
        clear: none; }
      .location:nth-child(4n + 3) {
        margin-left: 51.2820512821%;
        margin-right: -100%;
        clear: none; }
      .location:nth-child(4n + 4) {
        margin-left: 76.9230769231%;
        margin-right: -100%;
        clear: none; } }

.locationMap {
  position: relative;
  margin: 0 0 1em; }
  @media only screen and (min-width: 1200px) {
    .locationMap {
      margin-left: 15px;
      margin-right: 15px; } }
  .locationMap:after {
    content: "";
    display: block;
    padding: 0 0 100%; }
  .locationMap iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none; }

.locationAddress {
  margin: 0 0 0.6em; }
  @media only screen and (min-width: 768px) {
    .locationAddress {
      padding: 0 21px; } }
  .locationAddress a, .locationAddress a:visited {
    font-weight: 700; }

.locationPhone {
  margin: 0 0 0.6em; }
  @media only screen and (min-width: 768px) {
    .locationPhone {
      padding: 0 21px; } }

@media only screen and (min-width: 768px) {
  .locationHours {
    padding: 0 21px; } }

@media only screen and (min-width: 992px) {
  .locationHours {
    font-size: 1.4rem; } }

.teamRow1 {
  background: #F5F3EE;
  text-align: center;
  padding: 35px 0;
  font-family: "Lora", serif;
  clear: both; }
  @media only screen and (min-width: 992px) {
    .teamRow1 {
      padding: 50px 0; } }
  .teamRow1 .teamIcon {
    display: block;
    margin: 0 auto 1em;
    width: 100px;
    height: auto; }
    @media only screen and (min-width: 768px) {
      .teamRow1 .teamIcon {
        display: inline-block;
        margin: 0;
        vertical-align: middle;
        width: 125px; } }
    @media only screen and (min-width: 992px) {
      .teamRow1 .teamIcon {
        width: 150px; } }
    @media only screen and (min-width: 1200px) {
      .teamRow1 .teamIcon {
        width: 170px; } }
  .teamRow1 .teamFormToggle {
    color: #6DA317;
    cursor: pointer; }
    .teamRow1 .teamFormToggle:hover {
      color: #40771D; }

.brocStarText {
  font-size: 2rem; }
  @media only screen and (min-width: 768px) {
    .brocStarText {
      display: inline-block;
      vertical-align: middle;
      text-align: left;
      padding: 0 0 0 35px;
      font-size: 2.2rem;
      line-height: 1.5; } }
  @media only screen and (min-width: 992px) {
    .brocStarText {
      font-size: 2.6rem; } }

.joinTeamForm {
  display: none; }

.wide {
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
  overflow: hidden;
  background: #fff;
  position: relative; }

.wrapper {
  max-width: 1327.5px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
  margin: 0 auto;
  width: 100%; }
  .wrapper:after {
    content: " ";
    display: block;
    clear: both; }
  @media only screen and (min-width: 768px) {
    .wrapper {
      padding-left: 25px;
      padding-right: 25px; } }
  @media only screen and (min-width: 992px) {
    .wrapper {
      padding-left: 45px;
      padding-right: 45px; } }
  @media only screen and (min-width: 1400px) {
    .wrapper {
      padding-left: 0;
      padding-right: 0; } }
