<footer id="locations">
  <div class="wrapper">
    <div class="footerCol"><%= image_tag 'logo2.png', :class => 'footerLogo', :alt => 'Verde' %></div>
    <div class="footerCol footerColLocations">
      <% data.kentico_locations_page.items[0].elements.location_modules.value.each do |item| 
    @module = data.kentico_locations_page.modular_content[item] %>
    <% if @module != nil %>
      <h4><%= @module.elements.optional_heading.value %></h4>      
      <% @module.elements.ordered_items.value.each do |innerItem| @current = data.kentico_locations_page.modular_content[innerItem] %>      
        <p><a href="<%= @current.elements.googlemapslink.value %>"><%= @current.system.name %></a></p>
      <% end %>    
    <% end %>
  <% end %>
    </div>
    <div class="footerCol">
      <h4>Our Hours</h4>
      <p>
        <a href="/locations">View By Location</a>
      </p>
      <h4>Contact Us</h4>
      <p><a href="mailto:sayhey@eatatverde.com">sayhey@eatatverde.com</a></p>
      <p><a href="mailto:communitypartnerships@eatatverde.com">Community Partnerships</a></p>
      <div class="socialLinks"><a href="http://facebook.com/eatatverde" target="_blank" class="socialLink">
          <div style="background-image: url(/images/iconFacebook.png);" class="socialLinkIcon"></div>
          <div class="socialLinkText">Facebook</div></a><a href="http://instagram.com/eatatverde" target="_blank" class="socialLink">
          <div style="background-image: url(/images/iconInstagram.png);" class="socialLinkIcon"></div>
          <div class="socialLinkText">Instagram</div></a><a href="http://twitter.com/eatatverde" target="_blank" class="socialLink">
          <div style="background-image: url(/images/iconTwitter.png);" class="socialLinkIcon"></div>
          <div class="socialLinkText">Twitter</div></a><a href="http://eatatverde.tumblr.com" target="_blank" class="socialLink">
    </div>
  </div>
</footer>
<div class="newsletterPopup">
   <div class="newsletterPopupInner">
     <img class="icon" src="https://assets.kenticocloud.com:443/a318a518-13e1-4d16-a56a-baf74865f562/e7199ec7-641b-42a9-a23f-bc9c6e5fe73d/iconInTouch.png" alt="">
     <h2>Join our mailing list</h2>
     <form action="https://squareup.com/outreach/jjKAkI/subscribe" method="POST" target="_blank"><input type="email" name="email_address" placeholder="Your Email Address" style="height: 38px; padding: 0 16px; font-size: 14px; border: 1px solid #bec3c8; border-radius: 3px; margin-right: 8px; font-family: 'Helvetica Neue', Helvetica, sans-serif;"><button type="submit" style="cursor: pointer; background-color: #84BD00; color: white; height: 40px; border: 0; border-radius: 3px; font-size: 14px; padding: 0 16px; font-family: 'Helvetica Neue', Helvetica, sans-serif; font-weight: 500;">Join Now</button></form>
     <div class="newsletterPopupClose"></div>
   </div>
 </div>
