<div class="wide">
  <div class="topBars">
    <div class="topBar"></div>
    <div class="topBar"></div>
    <div class="topBar"></div>
  </div>
  <header>
    <div class="wrapper">
      <div class="logo"><a href="/"><%= image_tag 'logo.png', :alt => 'LOGO' %></a></div>
      <div class="menuToggle"></div>
      <h2 class="topTag">Fresh Salads &amp; Wraps</h2>
      <div class="topOrder"><a href="/order" class="btn btnPrimary topBtnOrder">Order Online</a></div>
    </div>
    <div class="mainNav">
      <ul>
        <% data.kentico_main_navigation.items[0].elements.ordered_items.value.each do |item| @current = data.kentico_main_navigation.modular_content[item]%>
          <% if !@current.elements.link_destination.value.blank? || !@current.elements.asset_link_destination.value.empty? %>
          <li<% if !@current.elements.mobile_link_destination.value.blank? %> class="navDesktop<% if current_page.metadata[:page][:menu_item] == @current.elements.link_destination.value %> on<% end %>"<% else %> <% if current_page.metadata[:page][:menu_item] == @current.elements.link_destination.value %> class="on"<% end %><% end %>><a href="<% if !@current.elements.link_destination.value.blank? %><%= @current.elements.link_destination.value %><% elsif !@current.elements.asset_link_destination.value.empty? %><%= @current.elements.asset_link_destination.value[0].url %><% end %>"<% if !@current.elements.target.value.empty? %>target="_blank"<% end %>><%= @current.elements.link_text.value %></a></li>
          <% end %>
        <% if !@current.elements.mobile_link_destination.value.blank? %><li class="navMobile<% if current_page.metadata[:page][:menu_item] == @current.elements.mobile_link_destination.value %> on<% end %>"><a href="<%= @current.elements.mobile_link_destination.value %>"<% if !@current.elements.target.value.empty? %>target="_blank"<% end %>><%= @current.elements.link_text.value %></a>
        <% end %>
        <% end %>
      </ul>
    </div>
  </header>
