<head id="htmlHead">
    <%= partial "metatags" %>
    <meta name="viewport" content="width=device-width,user-scalable=no,maximum-scale=1.0,initial-scale=1.0">
    <meta charset="UTF-8">
    
    <!-- Setting Shared-Link Image -->
    <meta property="og:image" content="https://assets-us-01.kc-usercontent.com/a318a518-13e1-4d16-a56a-baf74865f562/05fbf38a-a74b-4a34-b5b5-cf4a30957ed9/socialMediaPic.png">
    
    <link href="//fonts.googleapis.com/css?family=Lora:400,700|Karla:400,700" rel="stylesheet">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css" rel="stylesheet">
    <link href="/stylesheets/site.css" rel="stylesheet" />
    
    <link rel="icon" 
      type="image/png" 
      href="/images/FaviconTransparent.png">
    <!-- Favicon in /images folder ^^ !-->
        
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
    <script type="text/javascript" src="javascripts/site.js"></script>
    <script type="text/javascript" src="//cf.chownowcdn.com/latest/static/integrations/ordering-modal.min.js" data-chownow-company-id="286"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/ouibounce/0.0.12/ouibounce.js"></script>
    <script async="" src="https://www.google-analytics.com/analytics.js"></script>
    <!-- Facebook Pixel Code -->
    <script>
    !function(f,b,e,v,n,t,s){if(f.fbq)return;n=f.fbq=function()
    {n.callMethod? n.callMethod.apply(n,arguments):n.queue.push(arguments)}
    ;if(!f._fbq)f._fbq=n;
    n.push=n;n.loaded=!0;n.version='2.0';n.queue=[];t=b.createElement(e);t.async=!0;
    t.src=v;s=b.getElementsByTagName(e)[0];s.parentNode.insertBefore(t,s)}(window,
    document,'script','https://connect.facebook.net/en_US/fbevents.js');
    fbq('init', '784266798408155'); // Insert your pixel ID here.
    fbq('track', 'PageView');
    </script>
    <noscript><img height="1" width="1" style="display:none"
    src="https://www.facebook.com/tr?id=784266798408155&ev=PageView&noscript=1"
    /></noscript>
    <!-- DO NOT MODIFY -->
    <!-- End Facebook Pixel Code -->
  </head>
