
  <% @mainContentStripped = strip_tags(data[@datafile].items[0].elements.main_content.value) %>
  <% @bottomContentStripped = strip_tags(data[@datafile].items[0].elements.bottom_content.value) %>
  <% @iBox = data[@datafile].modular_content[data[@datafile].items[0].elements.ibox_link.value[0]] %>


    <% if @mainContentStripped != '' || @bottomContentStripped != '' || @iBox != nil %>
      <div class="intro">    
      <div class="introContent">
    <% end %>
    <% if @mainContentStripped != '' %>
      <%= data[@datafile].items[0].elements.main_content.value %>
    <% end %>
  
  <% if @iBox != nil %>
  <% @iBoxType = @iBox.system.type %>
    <% if @iBoxType == "ibox_link" %>
      <a class="iBox iBoxShort iBox5<% if !@iBox.elements.include_newsletter_popup_.value.empty? %> iBoxPopup<% end %>" style="margin-bottom: 20px; float: none; clear: both; width: 100%;" href="<%= @iBox.elements.link_destination.value %>"<% if !@iBox.elements.target.value.empty? %>target="_blank"<% end %>>
      <% else %>
      <div class="iBox iBoxShort iBox5">
    <% end %>
    <div class="iBoxContent"><img class="iBoxIcon" src="<%= @iBox.elements.image.value[0].url %>" alt="<%= @iBox.elements.image.value[0].description %>"><%= @iBox.elements.link_text.value %></div>
    <% if @iBoxType == "ibox_link" %>
      </a>
    <% else %>
      </div>
    <% end %>
  <% end %>

  <% if @mainContentStripped != '' %>
    <%= data[@datafile].items[0].elements.bottom_content.value %>
  <% end %>
  <% if @mainContentStripped != '' || @bottomContentStripped != '' || @iBox != nil %>
  </div>
  </div>
  <% end %>
  
