<% if @datafile != nil %>
<% if data[@datafile].items.count > 0 %>
<title><%= data[@datafile].modular_content[data[@datafile].items[0].elements.meta_content.value[0]].elements.title.value %></title>
<% unless data[@datafile].modular_content[data[@datafile].items[0].elements.meta_content.value[0]].elements.description.value.blank? %>
<meta name="description" content="<%= data[@datafile].modular_content[data[@datafile].items[0].elements.meta_content.value[0]].elements.description.value %>" />
<% end %>
<% unless data[@datafile].modular_content[data[@datafile].items[0].elements.meta_content.value[0]].elements.keywords.value.blank? %>
<meta name="keywords" content="<%= data[@datafile].modular_content[data[@datafile].items[0].elements.meta_content.value[0]].elements.keywords.value %>" />
<% end %>
<% unless data[@datafile].modular_content[data[@datafile].items[0].elements.meta_content.value[0]].elements.canonical.value.blank? %>
<link rel="canonical" href="<%= data[@datafile].modular_content[data[@datafile].items[0].elements.meta_content.value[0]].elements.canonical.value %>" />
<% end %>
<% end %>
<% end %>
