---
file: "kentico_about"
menu_item: "/about-us"
---
<% @datafile = current_page.data.file %>
<% @menuitem = current_page.data.menu_item %>

<% if data[@datafile].items.count > 0 %>
<div class="subContainer">
	<div class="aboutLeft">
		<div class="aboutBox aboutBox1 aboutBoxVerdeWay">
			<div class="aboutBoxContent"><span>The</span><span>Verde</span><span>Way</span></div>
		</div>
		<div class="aboutBox aboutBoxShort aboutBox2" style="background-image: url('<%= data[@datafile].items[0].elements.top_row___bottom_left_image.value[0].url %>')"></div> 
	</div>
	<div class="aboutRight">
		<div class="aboutBox aboutBoxShort aboutBox3" style="background-image: url('<%= data[@datafile].items[0].elements.top_row___top_right_image.value[0].url %>')"></div>
		<div class="aboutBox aboutBox4">
			<div class="aboutBoxContent">
				<p class="leader"><%= data[@datafile].items[0].elements.top_row___leader_text.value %></p>
				<p><%= data[@datafile].items[0].elements.top_row___text.value %></p>
			</div>
		</div>
	</div>
	<div class="aboutBox aboutBoxShort aboutBoxWide aboutBox5">
		<div class="aboutBoxContent">
			<img class="aboutEnvironmentLogo" src="<%= data[@datafile].items[0].elements.n2nd_row___image.value[0].url %>" alt="<%= data[@datafile].items[0].elements.n2nd_row___image.value[0].description %>">
			<p><%= data[@datafile].items[0].elements.n2nd_row___content.value %></p>
		</div>
	</div>
	<div class="aboutLeft">
		<div class="aboutBox aboutBoxShort aboutBox6" style="background-image: url('<%= data[@datafile].items[0].elements.n3rd_row___left_image.value[0].url %>')" ></div>
		<div class="aboutBox aboutBox7" style="background-image: url('<%= data[@datafile].items[0].elements.bottom_row___left_image.value[0].url %>')" ></div>
	</div>
	<div class="aboutRight">
		<div class="aboutBox aboutBoxShort aboutBox8">
			<div class="aboutBoxContent">
				<p><%= data[@datafile].items[0].elements.n3rd_row___text.value %></p>
			</div>
		</div>
		<div class="aboutBox aboutBoxShort aboutBox9" style="background-image: url('<%= data[@datafile].items[0].elements.bottom_row___right_background_image.value[0].url %>')">
			<div class="aboutBoxContent">
				<p class="leader"><img class="logoLocallyOwned" src="<%= data[@datafile].items[0].elements.bottom_row___right_foreground_image.value[0].url %>" alt="<%= data[@datafile].items[0].elements.bottom_row___right_foreground_image.value[0].description %>"></p>
			</div>
		</div>
		<div class="aboutBox aboutBoxShort aboutBox10">
			<div class="aboutBoxContent">
				<p class="leader"><%= data[@datafile].items[0].elements.bottom_row___text.value %></p>
			</div>
		</div>
	</div>
</div>
<% end %>