---
file: "kentico_dressings_landing_page"
menu_item: "/dressings"
---
<% @datafile = current_page.data.file %>
<% @menuitem = current_page.data.menu_item %>

<% if data[@datafile].items.count > 0 %>
<div class="iContainer">
  <% @homeHero = data[@datafile].items[0].elements.hero.value[0] %> <% if @homeHero != nil %>
  <div class="iBox iBox1">
    <div class="iBoxContent">
      <h3><%= data[@datafile].modular_content[@homeHero].system.name %></h3>
      <%= data[@datafile].modular_content[@homeHero].elements.text.value %>
      <% if data[@datafile].modular_content[@homeHero].elements.button_text.value != nil && !data[@datafile].modular_content[@homeHero].elements.button_text.value.blank? %>
        <p><% if data[@datafile].modular_content[@homeHero].elements.button_url.value != nil && !data[@datafile].modular_content[@homeHero].elements.button_url.value.blank? %><a class="btn btnPrimary" href="<%= data[@datafile].modular_content[@homeHero].elements.button_url.value %>" <% if data[@datafile].modular_content[@homeHero].elements.target.value.empty? %>target="_blank"<% end %>><%= data[@datafile].modular_content[@homeHero].elements.button_text.value %></a><% end %></p>
      <% end %>
      <% if data[@datafile].modular_content[@homeHero].elements.button_asset_link.value != nil && !data[@datafile].modular_content[@homeHero].elements.button_asset_link.value.blank? %>
        <p><% if data[@datafile].modular_content[@homeHero].elements.button_asset_link.value[0].url != nil && !data[@datafile].modular_content[@homeHero].elements.button_asset_link.value[0].url.blank? %><a class="btn btnPrimary" href="<%= data[@datafile].modular_content[@homeHero].elements.button_asset_link.value[0].url %>" <% if data[@datafile].modular_content[@homeHero].elements.target.value.empty? %>target="_blank"<% end %>><%= data[@datafile].modular_content[@homeHero].elements.button_text.value %></a><% end %></p>
      <% end %>
    </div>
  </div>
  <div style="background-image: url('<%= data[@datafile].modular_content[@homeHero].elements.image.value[0].url %>');" class="iBox iBox2">
  </div>
  <% end %>
  <%= partial "landing" %>
</div>
<% end %>