---
file: "kentico_home"
---
<% @datafile = current_page.data.file %>

<% if data[@datafile].items.count > 0 %>
<div class="iContainer">
  <% @homeHero = data.kentico_home.items[0].elements.home_hero.value[0] %> <% if @homeHero != nil %>
  <div class="iBox iBox1">
    <div class="iBoxContent">
      <h3><%= data[@datafile].modular_content[@homeHero].system.name %></h3>
      <%= data[@datafile].modular_content[@homeHero].elements.text.value %>
      <% if data[@datafile].modular_content[@homeHero].elements.button_text.value != nil && !data[@datafile].modular_content[@homeHero].elements.button_text.value.blank? %>
        <p><% if data[@datafile].modular_content[@homeHero].elements.button_url.value != nil && !data[@datafile].modular_content[@homeHero].elements.button_url.value.blank? %><a class="btn btnPrimary" href="<%= data[@datafile].modular_content[@homeHero].elements.button_url.value %>" <% if data[@datafile].modular_content[@homeHero].elements.target.value.empty? %>target="_blank"<% end %>><%= data[@datafile].modular_content[@homeHero].elements.button_text.value %></a><% end %></p>
      <% end %>
    </div>
  </div>
  <div style="background-image: url('<%= data[@datafile].modular_content[@homeHero].elements.image.value[0].url %>');" class="iBox iBox2">
  </div>
  <% end %>
  <div class="intro">
    <div class="introContent">
    <%= data[@datafile].items[0].elements.content.value %>
    </div>
  </div>
  <% @iBox = data[@datafile].modular_content[data[@datafile].items[0].elements.row_1___left_box.value[0]] %>
  <% if @iBox != nil %>
  <% @iBoxType = @iBox.system.type %>
    <% if @iBoxType == "ibox_link" %>
      <a class="iBox iBoxShort iBox3<% if !@iBox.elements.include_newsletter_popup_.value.empty? %> iBoxPopup<% end %>" href="<%= @iBox.elements.link_destination.value %>"<% if !@iBox.elements.target.value.empty? %>target="_blank"<% end %>>
      <% else %>
      <div class="iBox iBoxShort iBox3">
    <% end %>
    <div class="iBoxContent"><img class="iBoxIcon" src="<%= @iBox.elements.image.value[0].url %>" alt="<%= @iBox.elements.image.value[0].description %>"><%= @iBox.elements.link_text.value %></div>
    <% if @iBoxType == "ibox_link" %>
      </a>
    <% else %>
      </div>
    <% end %>
  <% end %>
  <% @iBox = data[@datafile].modular_content[data[@datafile].items[0].elements.row_1___right_box.value[0]] %>
  <% if @iBox != nil %>
  <% @iBoxType = @iBox.system.type %>
    <% if @iBoxType == "ibox_link" %>
      <a class="iBox iBoxShort iBox4 navLocationsXXX<% if !@iBox.elements.include_newsletter_popup_.value.empty? %> iBoxPopup<% end %>" href="<%= @iBox.elements.link_destination.value %>"<% if !@iBox.elements.target.value.empty? %>target="_blank"<% end %>>
      <% else %>
      <div class="iBox iBoxShort iBox4 navLocationsXXX">
    <% end %>
    <div class="iBoxContent"><img class="iBoxIcon" src="<%= @iBox.elements.image.value[0].url %>" alt="<%= @iBox.elements.image.value[0].description %>"><%= @iBox.elements.link_text.value %></div>
    <% if @iBoxType == "ibox_link" %>
      </a>
    <% else %>
      </div>
    <% end %>
  <% end %>
  <% @iBox = data[@datafile].modular_content[data[@datafile].items[0].elements.row_2___left_box.value[0]] %>
  <% if @iBox != nil %>
  <% @iBoxType = @iBox.system.type %>
    <% if @iBoxType == "ibox_link" %>
      <a class="iBox iBoxShort iBox5<% if !@iBox.elements.include_newsletter_popup_.value.empty? %> iBoxPopup<% end %>" href="<%= @iBox.elements.link_destination.value %>"<% if !@iBox.elements.target.value.empty? %>target="_blank"<% end %>>
      <% else %>
      <div class="iBox iBoxShort iBox5">
    <% end %>
    <div class="iBoxContent"><img class="iBoxIcon" src="<%= @iBox.elements.image.value[0].url %>" alt="<%= @iBox.elements.image.value[0].description %>"><%= @iBox.elements.link_text.value %></div>
    <% if @iBoxType == "ibox_link" %>
      </a>
    <% else %>
      </div>
    <% end %>
  <% end %>
  <% @iBox = data[@datafile].modular_content[data[@datafile].items[0].elements.row_2___right_box.value[0]] %>
  <% if @iBox != nil %>
  <% @iBoxType = @iBox.system.type %>
    <% if @iBoxType == "ibox_link" %>
      <a class="iBox iBoxShort iBox6 navLocationsXXX<% if !@iBox.elements.include_newsletter_popup_.value.empty? %> iBoxPopup<% end %>" href="<%= @iBox.elements.link_destination.value %>"<% if !@iBox.elements.target.value.empty? %>target="_blank"<% end %>>
      <% else %>
      <div class="iBox iBoxShort iBox6 navLocationsXXX">
    <% end %>
    <div class="iBoxContent"><img class="iBoxIcon" src="<%= @iBox.elements.image.value[0].url %>" alt="<%= @iBox.elements.image.value[0].description %>"><%= @iBox.elements.link_text.value %></div>
    <% if @iBoxType == "ibox_link" %>
      </a>
    <% else %>
      </div>
    <% end %>
  <% end %>
  <% @iBox = data[@datafile].modular_content[data[@datafile].items[0].elements.row_3.value[0]] %>
  <% if @iBox != nil %>
  <% @iBoxType = @iBox.system.type %>
    <% if @iBoxType == "ibox_link" %>
      <a class="iBox iBoxShort iBoxGoGreen" href="<%= @iBox.elements.link_destination.value %>"<% if !@iBox.elements.target.value.empty? > 1 %>target="_blank"<% end %>>
    <% end %>
    <div style="background-image: url('<%= @iBox.elements.image.value[0].url %>')" class="iBox iBoxShort iBoxGoGreen">
      <div class="iBoxContent"><%= @iBox.elements.text.value %></div>
      <% if @iBoxType == "ibox_link" %>
        </a>
      <% end %>
    <% end %>
    </div>
    <div class="iRow iRow1">
      <div class="iLeft"></div>
      <div class="iRight">
        <%= data[@datafile].items[0].elements.bottom_row_text.value %>
        <% @button = data[@datafile].modular_content[data[@datafile].items[0].elements.bottom_row_button.value[0]] %>
        <% if @button != nil %>
          <p><a class="btn btnPrimary" href="<%= @button.elements.asset_to_link_to.value[0].url %>"><%= @button.elements.link_text.value %></a></p>
        <% end %>
      </div>
    </div>
</div>
<% end %>
