---
file: "kentico_join_team"
menu_item: "/join-team"
---
<% @datafile = current_page.data.file %>
<% @menuitem = current_page.data.menu_item %>

<% if data[@datafile].items.count > 0 %>
<div class="subContainer">
	<div class="aboutLeft">
		<div class="aboutBox aboutBox1 aboutBox1Team">
			<div class="aboutBoxContent"><span>Join</span><span>Our</span><span>Team</span></div>
		</div>
	</div>
	<div class="aboutRight">
		<div class="aboutBox aboutBox3" style="background-image: url('<%= data[@datafile].items[0].elements.top_row___right_image.value[0].url %>')">
		</div>
	</div>
	<div class="teamRow1">
		<div class="teamRow1Content">
			<img class="teamIcon" src="<%= data[@datafile].items[0].elements.bottom_row___image.value[0].url %>" alt="<%= data[@datafile].items[0].elements.bottom_row___image.value[0].description %>">
			<div class="brocStarText"><%= data[@datafile].items[0].elements.bottom_row___header.value %><br /><a class="teamFormToggleXXX" href="<%= data[@datafile].items[0].elements.bottom_row___link_to_email_address.value %>"><%= data[@datafile].items[0].elements.bottom_row___link_text.value %></a></div>
		</div>
	</div>
</div>
<% end %>