---
file: "kentico_locations_page"
menu_item: "/locations"
---
<% @datafile = current_page.data.file %>
<% @menuitem = current_page.data.menu_item %>

<% if data[@datafile].items.count > 0 %>
<div class="subContainer subContainerLocations">
	<% data.kentico_locations_page.items[0].elements.location_modules.value.each do |item| 
		@module = data[@datafile].modular_content[item] %>
		<% if @module != nil %>
			<h3><%= @module.elements.optional_heading.value %></h3>
			<div id="locations" class="wrapper">
			<% @module.elements.ordered_items.value.each do |innerItem| @current = data[@datafile].modular_content[innerItem] %>			
				<p><a href="<%= @current.elements.googlemapslink.value %>"><%= @current.system.name %></a><br /><%= @current.elements.street_address.value %><br /><%= @current.elements.city.value %><% if @current.elements.state__abbreviation_ != nil && !@current.elements.state__abbreviation_.blank? %>, <%= @current.elements.state__abbreviation_.value %><% end %><br /><%= @current.elements.phone_number.value %><br/>
                <%= @current.elements.hours.value %> <br/> 
                </p>
			
			<% end %>
		</div>
		<% end %>
	<% end %>
</div>
<% end %>