---
file: "kentico_menu"
menu_item: "/menu"
---
<% @datafile = current_page.data.file %>
<% @menuitem = current_page.data.menu_item %>

<% if data[@datafile].items.count > 0 %>
<div class="subContainer">
  <div class="intro menuIntro">
		<div class="introContent">
		<%= data[@datafile].items[0].elements.menu_intro_text.value %>
		</div>
  </div>
  <div class="menuSaladBar"></div>
    <div class="menuRow menuRow2">
	  <h2><%= data.kentico_menu_signature_creations.items[0].elements.optional_heading.value %></h2>
	  <p><%= data.kentico_menu_signature_creations.items[0].elements.optional_subheading.value %></p>
	  <div id="signatureCreations" class="menuColWrapper">
		  <% data.kentico_menu_signature_creations.items[0].elements.ordered_items.value.each do |item| @current = data.kentico_menu_signature_creations.modular_content[item]%>
		  <div class="menu50">	
		  	<div class="menuItem">
		  	<h2><%= @current.system.name %><% if @current.elements.item_attributes.value != nil %><% @current.elements.item_attributes.value.each do |att| %><span class="keyCode <% if att.codename == 'vegan' %>vegan<% elsif att.codename == 'contains_gluten' %>gluten<% end %>"></span>	  		
		  		<% end %><% if @current.elements.item_price.value != nil %> $<%= @current.elements.item_price.value %><% end %></h2>
		  		<p><%= @current.elements.item_description.value %></p>
		  		<% if @current.elements.item_callout.value != nil %><span class="menuCallout"><%= @current.elements.item_callout.value %></span><% end %>
		  	<% end %>
		  	</div>
		  </div>	
		  <% end %>
	  </div>
	  <div class="menuKey light">
	  	<span class="keyCode vegan"></span><span class="keyValue">Vegan</span><span class="keyCode gluten"></span><span class="keyValue">Contains gluten</span>
	  </div>	  
    </div>
  <div class="menuRow menuRow1">
  	<h2><%= data.kentico_menu_create_your_own.items[0].elements.optional_heading.value %></h2>
  	<p><%= data.kentico_menu_create_your_own.items[0].elements.optional_subheading.value %></p>
	  <div class="menuColWrapper">
		  <div class="menu25">
		   <h3 class="menuAccordionHeader"><img src="<%= data.kentico_menu_create_your_own.items[0].elements.column_1_image.value[0].url %>" alt="<%= data.kentico_menu_create_your_own.items[0].elements.column_1_image.value[0].description %>" class="menuIcon"><%= data.kentico_menu_create_your_own.items[0].elements.column_1_text.value %></h3>
				  <div class="menuAccordionContent">
					  <p class="menuCallout"><%= data.kentico_menu_cyo_bases.items[0].elements.optional_heading.value %></p>
					  <ul>
					  <% data.kentico_menu_cyo_bases.items[0].elements.ordered_items.value.each do |item| @current = data.kentico_menu_cyo_bases.modular_content[item] %>
					  	<li><%= @current.system.name %> <% if @current.elements.item_attributes.value != nil %><% @current.elements.item_attributes.value.each do |att| %><span class="keyCode <% if att.codename == 'vegan' %>vegan<% elsif att.codename == 'contains_gluten' %>gluten<% end %>"></span><% end %><% end %></li>
					  <% end %>
					  </ul>
				  </div>
			  </div>
			  <div class="menu25">
			   <h3 class="menuAccordionHeader"><img src="<%= data.kentico_menu_create_your_own.items[0].elements.column_2_image.value[0].url %>" alt="<%= data.kentico_menu_create_your_own.items[0].elements.column_2_image.value[0].description %>" class="menuIcon"><%= data.kentico_menu_create_your_own.items[0].elements.column_2_text.value %></h3>
				  <div class="menuAccordionContent">
					  <p class="menuCallout"><%= data.kentico_menu_cyo_build.items[0].elements.optional_heading.value %></p>
					  <ul>
					  <% data.kentico_menu_cyo_build.items[0].elements.ordered_items.value.each do |item| @current = data.kentico_menu_cyo_build.modular_content[item] %>
					  	<li><%= @current.system.name %> <% if @current.elements.item_attributes.value != nil %><% @current.elements.item_attributes.value.each do |att| %><span class="keyCode <% if att.codename == 'vegan' %>vegan<% elsif att.codename == 'contains_gluten' %>gluten<% end %>"></span><% end %><% end %></li>
					  <% end %>
					  </ul>
				  </div>
			  </div>
			  <div class="menu25">
			   <h3 class="menuAccordionHeader"><img src="<%= data.kentico_menu_create_your_own.items[0].elements.column_3_image.value[0].url %>" alt="<%= data.kentico_menu_create_your_own.items[0].elements.column_3_image.value[0].description %>" class="menuIcon"><%= data.kentico_menu_create_your_own.items[0].elements.column_3_text.value %></h3>
				  <div class="menuAccordionContent">
					  <p class="menuCallout"><%= data.kentico_menu_cyo_toppings.items[0].elements.optional_heading.value %></p>
					  <ul>
					  <% data.kentico_menu_cyo_toppings.items[0].elements.ordered_items.value.each do |item| @current = data.kentico_menu_cyo_toppings.modular_content[item] %>
					  	<li><%= @current.system.name %> <% if @current.elements.item_attributes.value != nil %><% @current.elements.item_attributes.value.each do |att| %><span class="keyCode <% if att.codename == 'vegan' %>vegan<% elsif att.codename == 'contains_gluten' %>gluten<% end %>"></span><% end %><% end %><% if @current.elements.upcharge.value.blank? == false %><span class="menuSmallPrice"> +<%= @current.elements.upcharge.value %></span><% end %></li>
					  <% end %>
					  </ul>
					  <p class="menuCallout"><%= data.kentico_menu_cyo_toppings_cheeses.items[0].elements.optional_heading.value %></p>
					  <ul>
				  		<% data.kentico_menu_cyo_toppings_cheeses.items[0].elements.ordered_items.value.each do |item| @current = data.kentico_menu_cyo_toppings_cheeses.modular_content[item] %>
				  			<li><%= @current.system.name %>
			  			<% end %>
					  </ul>
					  <p class="menuCallout"><%= data.kentico_menu_cyo_toppings_proteins.items[0].elements.optional_heading.value %></p>
					  <ul>
				  		<% data.kentico_menu_cyo_toppings_proteins.items[0].elements.ordered_items.value.each do |item| @current = data.kentico_menu_cyo_toppings_proteins.modular_content[item] %>
				  			<li><%= @current.system.name %><% if @current.elements.upcharge.value.blank? == false %><span class="menuSmallPrice"> +<%= @current.elements.upcharge.value %></span><% end %></li>
			  			<% end %>
					  </ul>
					  <p class="menuCallout"><%= data.kentico_menu_cyo_toppings_seasonal.items[0].elements.optional_heading.value %></p>
					  <ul>
					  <% data.kentico_menu_cyo_toppings_seasonal.items[0].elements.ordered_items.value.each do |item| @current = data.kentico_menu_cyo_toppings_seasonal.modular_content[item] %>
					  	<li><%= @current.system.name %> <% if @current.elements.item_attributes.value != nil %><% @current.elements.item_attributes.value.each do |att| %><span class="keyCode <% if att.codename == 'vegan' %>vegan<% elsif att.codename == 'contains_gluten' %>gluten<% end %>"></span><% end %><% end %></li>
					  <% end %>
					  </ul>
				  </div>
			  </div>
			  <div class="menu25">
			   <h3 class="menuAccordionHeader"><img src="<%= data.kentico_menu_create_your_own.items[0].elements.column_4_image.value[0].url %>" alt="<%= data.kentico_menu_create_your_own.items[0].elements.column_4_image.value[0].description %>" class="menuIcon"><%= data.kentico_menu_create_your_own.items[0].elements.column_4_text.value %></h3>
				  <div class="menuAccordionContent">
					  <p class="menuCallout"><%= data.kentico_menu_cyo_dressings.items[0].elements.optional_heading.value %></p>
					  <ul>
					  <% data.kentico_menu_cyo_dressings.items[0].elements.ordered_items.value.each do |item| @current = data.kentico_menu_cyo_dressings.modular_content[item] %>
					  	<li><%= @current.system.name %> <% if @current.elements.item_attributes.value != nil %><% @current.elements.item_attributes.value.each do |att| %><span class="keyCode <% if att.codename == 'vegan' %>vegan<% elsif att.codename == 'contains_gluten' %>gluten<% end %>"></span><% end %><% end %></li>
					  <% end %>
					  </ul>
				  </div>
			  </div>
		  </div>
		  <div class="menuKey light"><span class="keyCode vegan"></span><span class="keyValue">Vegan</span><span class="keyCode gluten"></span><span class="keyValue">Contains gluten</span></div>
	  </div>
	  <div class="menuRow menuRow3">
		  <div class="menuColWrapper">
			  <div class="menu50">
                <% if (data.kentico_menu.modular_content.seasonal_selections != nil) then %>
  
                    <h2><%= data.kentico_menu_seasonal_selections.items[0].elements.optional_heading.value %></h2>
                    <% data.kentico_menu_seasonal_selections.items[0].elements.ordered_items.value.each do |item| @current = data.kentico_menu_seasonal_selections.modular_content[item] %>
                    <div class="menuItem">
                        <h3><%= @current.system.name %><% if @current.elements.item_price.value != nil %> $<%= @current.elements.item_price.value %><% end %><% @current.elements.item_attributes.value.each do |att| %> <span class="keyCode <% if att.codename == 'vegan' %>vegan<% elsif att.codename == 'contains_gluten' %>gluten<% end %>"></span><% end %></h3>
                        <p><%= @current.elements.item_description.value %></p>
                        <% if @current.elements.item_callout.value != nil %><span class="menuCallout"><%= @current.elements.item_callout.value %></span><% end %>
                    </div><% end %>
                <% end %>
                  
                <% if (data.kentico_menu.modular_content.soups != nil) then %>  
                    <div class="menuItem">
                          <h2><%= data.kentico_menu_soups.items[0].elements.optional_heading.value %></h2>
                          <p class="menuCallout"><%= data.kentico_menu_soups.items[0].elements.optional_subheading.value %></p>				  
                          <p>
                          <% data.kentico_menu_soups.items[0].elements.ordered_items.value.each do |item| @current = data.kentico_menu_soups.modular_content[item] %>
                        <%= @current.system.name %><% @current.elements.item_attributes.value.each do |att| %> <span class="keyCode <% if att.codename == 'vegan' %>vegan<% elsif att.codename == 'contains_gluten' %>gluten<% end %>"></span><% end %><br />
                          <% end %>
                          </p>
                    </div>
                <% end %>  
			  </div>
              
			  <div class="menu50">    
                <% if (data.kentico_menu.modular_content.drinks != nil) then %>
                    <h2><%= data.kentico_menu_drinks.items[0].elements.optional_heading.value %></h2>
                    <div class="menuItem">
                        <p>
                    <% data.kentico_menu_drinks.items[0].elements.ordered_items.value.each do |item| @current = data.kentico_menu_drinks.modular_content[item] %>
                    <%= @current.system.name %><% if @current.elements.price.value != nil %> <span class="menuSmallPrice"><%= @current.elements.price.value %></span><% end %><br />
                    <% end %>
                        </p>
                    </div>
                <% end %>
                  
                <% if (data.kentico_menu.modular_content.juices != nil) then %>
                    <div class="menuItem">
                        <h2><%= data.kentico_menu_juices.items[0].elements.optional_heading.value %></h2>
                        <p class="menuCallout"><%= data.kentico_menu_juices.items[0].elements.optional_subheading.value %></p>
                    </div>
                    <div class="menuItem">
                        <% data.kentico_menu_juices.items[0].elements.ordered_items.value.each do |item| @current = data.kentico_menu_juices.modular_content[item] %>
                            <h3><%= @current.system.name %></h3>
                            <p><%= @current.elements.ingredients.value %></p>
                        <% end %>
                    </div>
                <% end %> 
                  
			  </div>				  
		  </div>		  
	  </div>
	  <div class="menuRow menuRow4">
		  <div class="menuColWrapper">
		  	<div class="menu50">
		  		<h2 class="menuPdfTitle"><%= data.kentico_menu_downloadable_pdfs.items[0].elements.optional_heading.value %></h2>
		  	</div>
		  	<div class="menu50">
		  	<% data.kentico_menu_downloadable_pdfs.items[0].elements.ordered_items.value.each do |item| @current = data.kentico_menu_downloadable_pdfs.modular_content[item] %>
		  		<a href="<%= @current.elements.pdf.value[0].url %>" target="_blank" downlad class="menuDownloadItem">
		  			<div style="background-image: url('<%= @current.elements.pdf_image.value[0].url %>')" class="menuDownloadThumb"></div>
		  			<div class="menuDownloadText"><%= @current.system.name %></div>
		  		</a>
		  	<% end %>
		  	</div>
		  </div>
	  </div>
  </div>
</div>
<% end %>
